<ion-header>
  <ion-toolbar color="success" name="reset">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="category"></ion-back-button>
    </ion-buttons>
    <ion-title>Stat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="t-view">
  <ion-card class="view">
  <ion-label>
    <ion-title>Viewed Categories:</ion-title>
  </ion-label>
</ion-card>
<ion-card class="view">
  <ion-label>
    <ion-title>Viewed Courses:</ion-title>
  </ion-label>
</ion-card>
<ion-card class="view">
  <ion-label>
    <ion-title>Viewed Chapters:</ion-title>
  </ion-label>
</ion-card>
</ion-card>

</ion-content>
