
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button  menuId="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="./new-note">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <p>
    {{anote.title}}
  </p>
  <p>
    {{anote.content}}
  </p>
 -->


</ion-content>

